.navbar-collapse {
  border-top: 1px solid #c7c7c7;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.clearfix {
  overflow: auto;
}

/* ======= start-slick-sider  ====== */

.slider-banner .banner-slider {
  min-height: 720px !important;
  position: relative;
  padding: 257px 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10rem;
}

.slider-banner .slider-text h1 {
  color: #fff;
  line-height: 64px;
}

.slider-banner .slider-text {
  z-index: 99999;
  position: relative;
  max-width: 593px;
}
/* ======= end-slick-sider  ====== */

.site-header .navigation {
  background-color: #930101;
  margin-bottom: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.site-header .navigation > .container {
  position: relative;
}

@media screen and (min-width: 992px) {
  .site-header .navbar-header .open-btn {
    display: none;
  }

  .header-style-1 .navigation-holder,
  .header-style-2 .navigation-holder,
  .header-style-3 .navigation-holder,
  .header-style-4 .navigation-holder,
  .header-style-5 .navigation-holder,
  .header-style-6 .navigation-holder {
    padding: 0;
  }

  .site-header #navbar .close-navbar {
    display: none;
  }

  .site-header #navbar li {
    position: relative;
  }

  .header-style-1 #navbar > ul > li > a,
  .header-style-2 #navbar > ul > li > a,
  .header-style-3 #navbar > ul > li > a,
  .header-style-4 #navbar > ul > li > a,
  .header-style-5 #navbar > ul > li > a,
  .header-style-6 #navbar > ul > li > a {
    font-size: 15px;
    font-size: 1rem;
    font-weight: 400;
    padding: 30px 20px;
    position: relative;
    text-transform: uppercase;
  }

  .header-style-1 #navbar > ul > li > a:before,
  .header-style-2 #navbar > ul > li > a:before,
  .header-style-3 #navbar > ul > li > a:before,
  .header-style-4 #navbar > ul > li > a:before,
  .header-style-5 #navbar > ul > li > a:before,
  .header-style-6 #navbar > ul > li > a:before {
    content: "";
    background-color: #ee1c25;
    width: 0;
    height: 3px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.site-header .sticky-header #navbar > ul > li > a {
  font: 400 14px "Alegreya Sans", sans-serif;
  color: #484848;
  padding: 9px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.site-header .sticky-header #navbar {
  flex-basis: 75%;
}

.site-header #navbar {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.site-header .navigation ul {
  list-style-type: none;
  flex-direction: inherit;
  padding: 15px 0px;
}

.site-header .sticky-header {
  background-color: #fff;
  padding: 10px 0px;
}

.sticky {
  opacity: 1;
  top: 0;
}

.sticky-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 10000;
  opacity: 0;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

.site-header .sticky-header .container .site-logo {
  max-width: 120px;
}

.site-header .sticky-header {
  position: absolute;
}

/* .sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
} */

.topbar_sig .details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topbar_sig .details ul li {
  float: left;
}

.topbar_sig .details ul li a {
  font: 500 17px "Alegreya Sans", sans-serif;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: #000;
}

.site-logo {
  padding-top: 17px;
}

#top-four-section .our-export-box {
  background-color: #19777f;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  min-height: 220px;
}

#top-four-section p {
  color: #fff;
  line-height: 1.5;
}

#top-four-section .our-export-heading {
  color: #fff;
  font: 400 30px "Alice", sans-serif;
  padding: 10px 0;
}
#top-four-section {
  text-align: center;
  padding: 60px 0;
  overflow-x: hidden;
}

.cta-res {
  padding: 0;
  position: relative;
  min-height: 230px;
  background-position: 100% 0% !important;
  background-size: cover !important;
  display: -webkit-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.big-content {
  font: 400 69px "Alice", sans-serif;
  color: #fff;
}

.cta-res .content {
  font: 400 22px "Alegreya Sans", sans-serif;
  color: #fff;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

#paid-products {
  text-align: center;
  padding: 60px 0;
  overflow-x: hidden;
}

#paid-products .heading-about {
  text-align: center;
  font-size: 36px;
  color: #000;
  font: 400 35px "Alice", sans-serif;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

#paid-products .blog-heading {
  font: 400 22px "Alegreya Sans", sans-serif;
  padding: 15px 0px 0;
}

#paid-products .block-one img {
  border-radius: 12px;
}

#paid-products .get-quote {
  margin-top: 20px;
}

#paid-products .get-quote a {
  border-radius: 5px;
}

.our-services-icon span {
  width: 54px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 26px;
}

.shoping-section li .textwidget a span {
  background-color: #19777f;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}

.topbar_sig .details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.shoping-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.shoping-section li {
  float: left;
}

.shoping-section li .textwidget a {
  display: block;
  text-align: center;
  padding: 0px 10px 0 0;
}
.release-heading .heading-about {
  text-align: center;
  font-size: 36px;
  color: #000;
  font: 400 35px "Alice", sans-serif;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.cta-res .big-content::before {
  position: absolute;
  content: "";
  border-bottom: 4px solid #fff;
  width: 15%;
  bottom: 87px;
}

#release-section {
  background-color: #19777f;
  padding: 30px;
}

#release-section .pr-image img {
  border-radius: 10px;
}

#release-section .slick-prev,
#release-section .slick-next {
  /* background-color: #ee1c25; */
  width: 45px;
  height: 45px;
  z-index: 9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

#release-section .slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  opacity: 1;
  font-size: 40px;
}

#release-section .slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  opacity: 1;
  font-size: 40px;
}

@media screen and (min-width: 1600px) {
  #release-section .slick-next {
    right: -50px;
  }
  #release-section .slick-prev {
    left: -50px;
  }
}

#blog-section {
  text-align: center;
  padding: 60px 0;
  overflow-x: hidden;
}

#blog-section .heading-about {
  text-align: center;
  font-size: 36px;
  color: #000;
  font: 400 35px "Alice", sans-serif;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

#blog-section .grid .entry-body span {
  font: 400 35px "Alice", sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  margin: 0.7em 0 0.83em;
  letter-spacing: -1px;
  display: inline-block;
  text-align: left;
}

#blog-section .grid .entry-details .entry-body span a {
  color: #000;
}

#blog-section .b-date {
  display: inline-block;
  float: left;
}

#blog-section .b-text {
  display: inline-block;
  float: right;
}

.entry-details {
  background-color: #f0f0f0;
  padding: 10px 20px 40px;
  border-radius: 0px 0px 15px 15px;
}

#blog-section .slick-prev,
#blog-section .slick-next {
  width: 45px;
  height: 45px;
  z-index: 9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

#blog-section .slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  opacity: 1;
  font-size: 40px;
  color: #19777f;
}

#blog-section .slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  opacity: 1;
  font-size: 40px;
  color: #19777f;
}

@media screen and (min-width: 1600px) {
  #blog-section .slick-next {
    right: -50px;
  }
  #blog-section .slick-prev {
    left: -50px;
  }
}

#blog-section .get-quote {
  margin-top: 20px;
}

#blog-section .get-quote a {
  border-radius: 5px;
}

#blog-section .b-date a {
  color: #19777f;
  text-transform: capitalize;
}

#blog-section .b-date {
  color: #19777f;
  text-transform: capitalize;
}

#testimonial-section .testimonial-carousel .user {
  background-color: #000;
  text-align: center;
  padding: 35px 60px;
  opacity: 0.8;
  border-radius: 10px;
}

#testimonial-section {
  background: url(../img/testimonial-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 60px 0;
  color: #fff;
  position: relative;
  text-align: center;
}

#testimonial-section .testimonial-carousel .user p {
  color: #fff;
  font: 400 18px "Alegreya Sans", sans-serif;
}

#testimonial-section .testimonial-carousel .user-name {
  color: #fff;
  font: 500 22px "Alegreya Sans", sans-serif;
}

#testimonial-section .heading {
  text-align: center;
  font-size: 36px;
  color: #fff;
  font: 400 35px "Alice", sans-serif;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

#testimonial-section {
  text-align: center;
  padding: 60px 0;
  overflow-x: hidden;
}

#testimonial-section .slick-prev,
#testimonial-section .slick-next {
  width: 45px;
  height: 45px;
  z-index: 9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

#testimonial-section .slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  opacity: 1;
  font-size: 40px;
  color: #fff;
}

#testimonial-section .slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  opacity: 1;
  font-size: 40px;
  color: #fff;
}

@media screen and (min-width: 1600px) {
  #testimonial-section .slick-next {
    right: -50px;
  }
  #testimonial-section .slick-prev {
    left: -50px;
  }
}

#news-section {
  padding: 60px 0;
  overflow-x: hidden;
}

#news-section .title {
  font: 500 22px "Alegreya Sans", sans-serif;
  padding-bottom: 1rem;
}

#news-section .detail p {
  font: 400 15px "Alegreya Sans", sans-serif;
}

#news-section .news-body {
  background-color: #f0f0f0;
  padding: 20px 21px 5px 30px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  display: flex;
}

#news-section .heading-about {
  text-align: center;
  font-size: 36px;
  color: #000;
  font: 400 35px "Alice", sans-serif;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

#news-section .news-img ul {
  list-style: none;
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
  overflow: hidden;
}

#news-section .news-img ul li span {
  /* display: block; */
  text-align: center;
  padding: 0px 4px 0 0;
}

#news-section .news-img ul li {
  float: left;
  display: initial;
}

#news-section .share {
  float: right !important;
}

#news-section .news-body .news-info {
  padding-right: 1rem;
  width: 400px;
}

#news-section .news-body .news-info .news-logo {
  width: 12%;
  position: relative;
  top: 57px;
}

.pt-20 {
  margin-top: 20px !important;
}

#news-section .get-quote {
  margin-top: 40px;
  text-align: center;
}

#news-section .get-quote a {
  border-radius: 5px;
}

#faq-section {
  padding: 60px 0;
  overflow-x: hidden;
}

#faq-section .heading-about {
  text-align: center;
  font-size: 36px;
  color: #000;
  font: 400 35px "Alice", sans-serif;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

#faq-section .tab {
  float: left;
  /* border: 1px solid #ccc; */
  box-shadow: -10px 10px 28px -11px #ccc;
  background-color: #fff;
  width: 45%;
  height: 250px;
  position: relative;
  top: 28px;
}

/* Style the buttons inside the tab */
#faq-section .tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font: 500 17px "Alegreya Sans", sans-serif;
}

/* Change background color of buttons on hover */
#faq-section .tab button:hover {
  background-color: #f0f0f0;
}

/* Create an active/current "tab button" class */
#faq-section .tab button.active {
  background-color: #f0f0f0;
}

/* Style the tab content */
#faq-section .tabcontent {
  float: left;
  padding: 40px 50px;
  box-shadow: 0px 0px 2px 0px #ccc;
  border-radius: 10px;
  width: 55%;
  border-left: none;
  height: 300px;
  background-color: #f0f0f0;
  font: 500 22px "Alegreya Sans", sans-serif;
}

#faq-section .tabcontent p {
  font: 400 18px "Alegreya Sans", sans-serif;
  color: #000;
}

#faq-section .tabcontent h3 {
  color: #000;
}

#faq-section .tab button .icon-next {
  font-size: 12px;
  float: right;
  font-weight: 800;
  padding-top: 3px;
  opacity: 0.4;
}

#faq-section .tab button.active .icon-next {
  font-size: 15px;
  float: right;
  font-weight: 800;
  padding-top: 2px;
  opacity: 0.9;
}

#faq-section .tab button .icon-new-moon {
  font-size: 12px;
  padding-right: 0.5rem;
  font-weight: 800;
  padding-top: 3px;
  opacity: 0.4;
}

#faq-section .tab button.active .icon-new-moon {
  font-size: 15px;
  font-weight: 800;
  padding-right: 0.5rem;
  padding-top: 2px;
  opacity: 0.9;
}

#leave-message .form .heading-about {
  text-align: left;
  font-size: 36px;
  color: #000;
  font: 400 35px "Alice", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}

#leave-message .form-control {
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 0px;
  padding: 15px;
  font-style: normal;
}

#leave-message .mb-3 {
  margin-bottom: 0rem !important;
}

#leave-message .form input:focus,
.form textarea:focus,
.form select:focus {
  border-color: #19777f;
  -webkit-box-shadow: 0 0 5px 0 #19777f;
  -moz-box-shadow: 0 0 5px 0 #19777f;
  -o-box-shadow: 0 0 5px 0 #19777f;
  -ms-box-shadow: 0 0 5px 0 #19777f;
  box-shadow: 0 0 5px 0 #19777f;
}

#leave-message .sub-btn a {
  border-radius: 5px;
}

#leave-message .sub-btn {
  margin-top: 30px;
}

footer {
  background: url(../img/footer.png) no-repeat;
  color: #fff;
  position: relative;
  margin-top: 65px;
  background-size: cover;
  padding: 60px 0;
  overflow-x: hidden;
}

.headingFooter {
  text-align: center;
  font: 400 25px "Alice", sans-serif;
  color: #fff;
}

.link-footer {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.link-footer li a {
  color: #fff;
  font: 400 18px "Alegreya Sans", sans-serif;
  line-height: 1.5;
}

footer .disc {
  margin-top: 30px;
  text-align: justify;
  color: #fff;
  font: 400 16px "Alegreya Sans", sans-serif;
}

.footer-social-icon ul {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
}

.footer-social-icon {
  margin-top: 3rem;
}

.footer-social-icon li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-social-icon li a {
  margin: 0;
  padding: 0 10px;
  font-size: 35px;
  border: none;
  color: #fff;
  display: block;
  font-weight: 300;
  line-height: 16px;
}

.footer-social-icon p {
  font: 400 20px "Alegreya Sans", sans-serif;
  color: #fff;
}

.topbar_sig .details > ul li a:hover,
.topbar_sig .details > ul li a:focus {
  text-decoration: none;
  color: #19777f;
}

.block-one {
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.6s;
}

.block-one img:hover {
  transform: scale(1.2);
}

.block-one img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.01);
  transition: all 700ms ease;
}

.site-header {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 5px 0 rgb(180 180 180);
  -moz-box-shadow: 0 4px 5px 0 rgba(180, 180, 180, 1);
  box-shadow: 0 4px 5px 0 rgb(180 180 180);
  z-index: 99999;
  overflow: unset !important;
}

.site-header .sticky-header {
  display: none;
}

#breadcrumb-area {
  margin-top: 11.5rem;
}

.breadcrumb-section ul {
  list-style: none;
  display: block;
  margin: auto;
  text-align: left;
  padding-left: 0;
}

.breadcrumb-section li {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
  color: #2d7378;
  position: relative;
}

.breadcrumb-section li a {
  margin: 0;
  padding: 0;
  color: #000;
  font: 400 14px "Alegreya Sans", sans-serif;
}

.breadcrumb-section ul .icon-next {
  font-size: 11px;
}

#breadcrumb-area .filter-section .icon-filter {
  color: #2d7378;
  padding-right: 0.5rem;
  font-weight: 600;
  font-size: 19px;
}

#breadcrumb-area .filter-section ul {
  list-style: none;
  display: block;
  margin: auto;
}

#breadcrumb-area .filter-section ul li {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
  color: #000;
  position: relative;
  text-transform: capitalize;
  border: 1px solid #ccc;
  padding: 8px 30px;
  border-radius: 2px;
  font: 400 14px "Alegreya Sans", sans-serif;
}

#breadcrumb-area .filter-section ul li a {
  color: #000;
}

#breadcrumb-area .filter-section .icon-sort {
  color: #2d7378;
  padding-right: 0.5rem;
  font-weight: 600;
  font-size: 20px;
}

#breadcrumb-area .filter-section ul li:nth-child(3) {
  padding: 0;
  display: inline-block;
  color: #000;
  text-transform: capitalize;
  border: 0px solid #ccc;
  border-radius: 0px !important;
  font: 400 14px "Alegreya Sans", sans-serif;
}

#breadcrumb-area .filter-section ul li:nth-child(3) .form-control {
  padding: 8px 20px;
  border-radius: 1px;
  padding-top: 11px;
}

#breadcrumb-area .filter-section {
  float: right;
}

#client-area .client-box {
  box-shadow: 0 0 10px #ccc;
  min-height: 200px;
  padding: 40px 50px;
  text-transform: capitalize;
}

#client-area .client-box .user-img {
  float: left;
  width: 40%;
}
#client-area .client-box .user-details {
  padding-left: 11rem;
}

#client-area {
  padding: 50px 0 20px;
  overflow-x: hidden;
}

#client-area .client-box .user-details .call-btn a {
  border-radius: 5px;
}
#client-area .client-box .user-details .call-btn a:hover {
  border-radius: 5px;
  color: #fff;
}

.btn-call {
  background-color: #19777f;
  font-size: 18px;
  font-size: 1.0666666667rem;
  color: #fff;
  padding: 10px 35px;
  text-transform: capitalize;
}

#client-area .client-box .user-details .call-btn {
  display: table-cell;
  padding-top: 1rem;
}

.mt-20 {
  margin-top: 1.5rem !important;
}

/* sub-menu */

.nav-dropdown li {
  color: #fff;
  background: #f8f9fa;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.nav-dropdown li a {
  color: #19777f;
}

.nav-dropdown li:hover,
li:focus-within {
  background: #fff;
  color: #fff;
  cursor: pointer;
}

.nav-dropdownli:focus-within a {
  outline: none;
}

.navbar-nav li ul {
  background: #f8f9fa;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0px;
  display: none;
}

.navbar-nav li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navbar-nav li ul li {
  clear: both;
  text-align: center;
  padding: 15px 36px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.site-header .navigation .nav-dropdown {
  padding: 0;
}

.submenu-indicator-chevron {
  height: 6px;
  width: 6px;
  display: block;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: transparent #000 #000 transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.submenu-indicator-chevron:hover {
  border-color: transparent #19777f #19777f transparent;
}

.submenu-indicator {
  margin-left: 6px;
  position: absolute;
  margin-top: 6px;
  float: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submenu-indicator.submenu-indicator-up {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* end sub-menu */

.banner-slider {
  background: url("../img/footer.png") no-repeat center / cover;
  box-sizing: border-box;
  padding-bottom: 52%;
  position: relative;
}
